{% extends 'super_admin/base.html' %}
{% block content %}
    <div class="content-wrapper">
    <section class="content">
        <h1 style="margin-left: 34%">Donor's List</h1><hr/>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Child Code</th>
      <th scope="col">Name</th>
      <th scope="col">City</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
        {% for field in form %}
     <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ field.child_code }}</td>
      <td>{{ field.name }}</td>
      <td>{{ field.city }}</td>
      <td><a href="/superadmin/donor_detail/{{ field.id }}"><button class="btn btn-primary">View Details </button></a></td>
     </tr>
        {% endfor %}
  </tbody>
</table>
    </section>
    </div>
{% endblock %}