{% extends 'super_admin/base.html' %}
{% block content %}
    <div class="content-wrapper">
    <section class="content">
        <h1 style="margin-left: 34%">Admin Dashboard</h1><hr/>
            <section class="content">
        <div class="row">
        <div class="col-md-4">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>200+</h3>

              <p>Registered Non Goverment Organization</p>
            </div>
            <div class="icon">
              <i class="ion"></i>
            </div>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-md-4">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3>500+</h3>

              <p>Adopted children</p>
            </div>
            <div class="icon">
              <i class="ion"></i>
            </div>
          </div>
        </div>
        <!-- ./col -->

        <!-- ./col -->
        <div class="col-md-4">
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner">
              <h3>135+</h3>

              <p>Donor's Registered to support the NGO's</p>
            </div>
            <div class="icon">
              <i class="ion ion-pie-graph"></i>
            </div>
          </div>
        </div>
        <!-- ./col -->
      </div>
    </section>

    </section>
    </div>
{% endblock %}