{% extends 'super_admin/base.html' %}
{% load static %}
{% block content %}
    <div class="content-wrapper">
    <section class="content">
    <h2>Recent notification</h2><hr/>
   <input type="checkbox" onClick="toggle(this)">
  <select name="cars">
    <option value="volvo">Action</option>
    <option value="saab">Delete</option>
  </select>
  <button> Submit</button><hr/>
        <p><input type="checkbox" name="foo" value="1"> Rahul Reported spam activity.</p>
        <p><input type="checkbox" name="foo" value="2"> Donor sent payment 2000 (Donor Bilal, YBX Code)</p>
        <p><input type="checkbox" name="foo" value="3"> Monthly payment received by donor with BVC child code</p>
        <p><input type="checkbox" name="foo" value="4"> Ashwin want to chat with Safe4Child</p>
        <br>
        <button style="margin-left: 10%" class="btn btn-primary">Load more</button>

<script language="JavaScript">
function toggle(source) {
  checkboxes = document.getElementsByName('foo');
  for(var i=0, n=checkboxes.length;i<n;i++) {
    checkboxes[i].checked = source.checked;
  }
}
</script>
    </section>
    </div>
{% endblock %}
