{% extends 'super_admin/base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="content-wrapper">
    <section class="content">
    <h2>Recent notification</h2><hr/>
       <div class="col-md-6">
           <a href="#"><div class="alert alert-info"><span>Donor(D01) sends money to See4Children</span></div></a>
           <a href="#"><div class="alert alert-info"><span>Donor(D02) sends money to See4Children</span></div></a>
           <a href="#"><div class="alert alert-info"><span>Donor(D03) sends money to See4Children</span></div></a>
           <a href="#"><div class="alert alert-info"><span>Donor(D04) sends money to See4Children</span></div></a>
       </div>
    </section>
    </div>
{% endblock %}
