{% extends 'ngo/base.html' %}
{% load static %}
{% block content %}
    <div class="content-wrapper">
    <section class="content">
    <h2>Edit Children</h2><hr/>
        <form method="post">
        {% csrf_token %}
        {{ form.name.label_tag }}<br>
        {{ form.name }}<br><br>
        {{ form.place_found.label_tag }}<br>
        {{ form.place_found }}<br><br>
        {{ form.dob.label_tag }}<br>
        {{ form.dob }}<br><br>
        {{ form.gender.label_tag }}<br>
        {{ form.gender }}<br><br>
        {{ form.image.label_tag }}<br>
        {{ form.image }}<br><br>
        {{ form.description.label_tag }}<br>
        {{ form.description }}<br><br>
        <button type="submit" class="btn btn-success">Update</button>
    </form>
    </section>
    </div>
{% endblock %}