{% extends 'ngo/base.html' %}
{% load static %}
{% block content %}
    <div class="content-wrapper">
    <section class="content">
    <h2 style="margin-left: 30%">{{ child.name }}'s Detail</h2><hr/>
    <div style="margin-left:5%">
    {% if child.image %}
        <img src="{% if child %}{{ child.image.url }}{% endif %}" height="120" width="120">
    {% else %}
    <img src="" alt="No image">
    {% endif %}
        <h3><b>Name: </b>{{ child.name }}</h3>
        <p><b>Child Code: </b>{{ child.code }}</p>
        <p><b>Date of birth: </b>{{ child.dob }}</p>
        <p><b>Education: </b>{{ child.education }} std.</p>
        <p><b>Description: </b>{{ child.description }}</p>
        <h3><b>Other details: </b></h3>
        <p><b>Gender: </b>{{ child.gender.capitalize }}</p>
        <p><b>School: </b>{{ child.school }}</p>
        <p><b>Hobby: </b>{{ child.hobby }}</p>
        <a href="/edit_children/{{ child.id }}"><button class="btn btn-primary">Edit</button> </a><a href="/delete_children/"> <button class="btn btn-danger">Delete</button> </a></p>
    </div>

    </section>
    <section class="content">
{#        <h2 style="margin-left:3%"><u>List of Previous Donor's</u></h2>#}
    </section>
    </div>
{% endblock %}
