{% extends 'ngo/base.html' %}
{% block content %}
    <div class="content-wrapper" xmlns="http://www.w3.org/1999/html">
    <section class="content">
    <a href="/accounts/add_children/"><button class="btn btn-primary" style="margin-left: 35%">Add Children</button></a><hr/>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Gender</th>
      <th scope="col">Image</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
        {% for c in child %}
     <tr>
      <th scope="row">{{ c.id }}</th>
      <td>{{ c.name }}</td>
      <td>{{ c.gender.capitalize }}</td>
         {% if c.image %}
      <td><img src="{{ c.image.url }}" alt="Image" height="25px" width="25px"></td>
         {% else %}
             <td><p>No image</p></td>
         {% endif %}
      <td><a href="/children_detail/{{ c.id }}"><button class="btn btn-primary">View Details</button></a> <button class="btn btn-danger"> Delete</button> </td>
     </tr>
        {% endfor %}
  </tbody>
</table>
    </section>
    </div>
{% endblock %}
