{% extends 'ngo/base.html' %}
{% block content %}
    <div class="content-wrapper" xmlns="http://www.w3.org/1999/html">
    <section class="content">
        <h1 style="margin-left: 34%">List of Children</h1><hr/>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Index</th>
      <th scope="col">Name</th>
      <th scope="col">Child Code</th>
      <th scope="col">Gender</th>
      <th scope="col">Face Image</th>
      <th scope="col">Activity</th>
      <th scope="col">Report Mail</th>
    </tr>
  </thead>
  <tbody>
        {% for c in child %}
     <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ c.name }}</td>
      <td>{{ c.code }}</td>
      <td>{{ c.gender.capitalize }}</td>
         {% if c.image %}
      <td><img src="{{ c.image.url }}" alt="Image" height="25px" width="25px"></td>
         {% else %}
             <td><p>No image</p></td>
         {% endif %}
      <td><a href="/children_detail/{{ c.id }}"><button class="btn btn-primary">View Details</button></a> <button class="btn btn-danger"> Delete</button> </td>
      <td><img src="https://cdn2.iconfinder.com/data/icons/perfect-flat-icons-2/512/Cancel_delete_remove_stop_x_no_close_cross.png" alt="Image" height="25px" width="25px"></td>
     </tr>
        {% endfor %}
  </tbody>
</table><hr/>
        <a href="/add_children/"><button class="btn btn-primary" style="margin-left: 39%">Add Children</button></a><hr/>

    </section>
    </div>
{% endblock %}
