{% extends 'ngo/base.html' %}
{% load static %}
{% block content %}
    <div class="content-wrapper">
    <section class="content">
        <h2>List of Donors</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">Adhar No.</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
        {% for field in form %}
     <tr>
      <th scope="row">{{ field.id }}</th>
      <td>{{ field.name }}</td>
      <td>{{ field.city }}</td>
      <td>{{ field.aadhar_no }}</td>
      <td><a href="/donor_detail/{{ field.id }}"><button class="btn btn-primary">View Details </button></a></td>
     </tr>
        {% endfor %}
  </tbody>
</table>

    </section>
    </div>
{% endblock %}
