{% extends 'ngo/base.html' %}
{% block content %}
    {% load static %}

    <div class="content-wrapper">
    <section class="content">
        <h1>Add Events</h1>
   <div>
  <form method="post" action="{% url 'events_add' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <label class="control-label col-sm-2" for="name">
        Name:
    </label>
    <div class="col-sm-10">
        <input id="name" maxlength="30" class="form-control" name="name" type="text">
    </div><br>
    <label class="control-label col-sm-2" for="date">
        Date:
    </label>
    <div class="col-sm-10">
        <input id="date" maxlength="30" class="form-control" name="date" type="date">
    </div>
    <label class="control-label col-sm-2" for="place">
        Place:
    </label>
    <div class="col-sm-10">
        <input id="place" maxlength="30" class="form-control" name="place" type="text">
    </div>
    <label class="control-label col-sm-2" for="desc">
        Description:
    </label>
    <div class="col-sm-10">
        <input id="desc" maxlength="30" class="form-control" name="desc" type="text">
    </div>
    <label class="control-label col-sm-2" for="organizer">
        Organizer:
    </label>
    <div class="col-sm-10">
        <input id="organizer" maxlength="30" class="form-control" name="organizer" type="text">
    </div>
    <label class="control-label col-sm-2" for="time">
        Time:
    </label>
    <div class="col-sm-10">
        <input id="time" maxlength="30" class="form-control" name="time" type="time">
    </div>
    <label class="control-label col-sm-2" for="type">
        Event type:
    </label>
    <div class="col-sm-10">
        <input id="type" maxlength="30" class="form-control" name="type" type="text">
    </div>
    <label class="control-label col-sm-2" for="img">
        Image:
    </label>
    <div class="col-sm-10">
        <input id="img" maxlength="30" class="form-control" name="img" type="file">
    </div>
    <input type="submit" value="Add" style="margin-left: 35%"  class="btn btn-success"/>
</form>
</div>
</section>
</div>
{% endblock %}