{% extends 'ngo/base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="content-wrapper">

    <div class="container1">
    {% if form.image %}
        <img src="{% if form %}{{ form.image.url }}{% endif %}" height="300px" width="100%;">
    {% else %}
    <img src="" alt="No image">
    {% endif %}
    <div class="bottom-left"><h1><b>{{ form.name.upper }} Event</b></h1></div>
    </div>
{% block static %}
    <style>
.container1 {
    position: relative;
    text-align: center;
    color: white;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 20px;
}
    </style>
{% endblock %}<br>
    <section class="content">
        <div style="margin-left: 3%">
            <h4><i><b>Event Type: </b></i>{{ form.type }}</h4>
            <h4><i><b>Date: </b></i>{{ form.date }}</h4>
            <h4><i><b>Venue: </b></i>{{ form.place }}</h4>
            <h4><i><b>Description: </b></i>{{ form.description|safe }}</h4>
        </div>
    </section>
    </div>
{% endblock %}
