{% extends 'ngo/base.html' %}
{% block content %}
{% load staticfiles %}
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content">
{% if not ch %}
    {% if not eve %}
    <section class="content-header">
      <h1>
        Dashboard
        <small>Control panel</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>

    <section class="content">
        <div class="row">
        <div class="col-lg-6 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>150</h3>

              <p>Children</p>
            </div>
            <div class="icon">
              <i class="ion"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
{#        <div class="col-lg-3 col-xs-6">#}
{#          <!-- small box -->#}
{#          <div class="small-box bg-green">#}
{#            <div class="inner">#}
{#              <h3>50</h3>#}
{##}
{#              <p>Staff Members</p>#}
{#            </div>#}
{#            <div class="icon">#}
{#              <i class="ion"></i>#}
{#            </div>#}
{#            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>#}
{#          </div>#}
{#        </div>#}
        <!-- ./col -->
        <div class="col-lg-6 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3>44</h3>

              <p>Donors</p>
            </div>
            <div class="icon">
              <i class="ion"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        {% endif %}
        {% endif %}
<div class="container">
    <div class="row">
    <div class="col-md-6">
        {% if ch %}
             <h3>list of search children....</h3>
            {% for ch in ch %}
                <h2><a href="/children_detail/{{ ch.id }}">{{ ch.name }}</a></h2>
            {% endfor %}
        {% endif %}
    </div>
    <div class="col-md-6">
        {% if eve %}
            <h3 >List of search events...</h3>
            {% for eve in eve %}
                <h2><a href="/event_detail/{{ eve.id }}">{{ eve.name }}</a> </h2>
            {% endfor %}
        {% endif %}
    </div>
</div>
</div>

        <!-- ./col -->
{#        <div class="col-lg-3 col-xs-6">#}
{#          <!-- small box -->#}
{#          <div class="small-box bg-red">#}
{#            <div class="inner">#}
{#              <h3>65</h3>#}
{##}
{#              <p>Cities</p>#}
{#            </div>#}
{#            <div class="icon">#}
{#              <i class="ion ion-pie-graph"></i>#}
{#            </div>#}
{#            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>#}
{#          </div>#}
{#        </div>#}
        <!-- ./col -->
      </div>
    </section>
    </section>
  <section class="content">
      <div class="container">

      </div>
  </section>
  </div>

{% endblock %}
