{% extends 'ngo/base.html' %}
{% load static %}
{% block content %}
    <div class="content-wrapper">




<section class="content">
    <h2>Notifications</h2><hr/>
       <div class="col-md-6">
           {% for form in form %}
               <a href="/report_detail/{{ form.id }}">
           <div class="alert alert-info">
               <span>Admin sends report for {{ form.child_name }} ({{ form.child_code }}) at {{ form.time_stamp }}</span>
           </div>
               </a>
           {% endfor %}
       </div>
</section>
    </div>
{% endblock %}
