{% extends 'admin_panel/base.html' %}
{% block content %}
    {% csrf_token %}
<div class="content-wrapper">
<section class="content">
    <h1>Profile Page</h1>
    <h3><b>Username:</b> {{ user.username }}</h3>
    <h4><b>Email:</b> {{ user.email }} </h4>
    <h4><b>First Name:</b> {{ user.first_name }}</h4>
    <h4><b>last Name:</b> {{ user.last_name }}</h4>
    <p><a href="/accounts/edit_profile/">Edit profile</a></p>
</section>
<section class="content">
    <h1>NGO details</h1>


</section>

</div>
{% endblock %}
