{% extends 'ngo/base.html' %}
{% load static %}
{% block content %}
    <div class="content-wrapper">
    <section class="content">
    <h2 style="margin-left: 30%">Edit Profile</h2><hr/>
        <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
            <div class="container">
                <div class="row">
                    <div class="col-md-6">

            {{ form.name.label_tag }}<br>
            {{ form.name }}<br>
            {{ form.email.label_tag }}<br>
            {{ form.email }}<br>
            {{ form.state.label_tag }}<br>
            {{ form.state }}<br>
            {{ form.city.label_tag }}<br>
            {{ form.city }}<br>
            {{ form.zip_code.label_tag }}<br>
            {{ form.zip_code }}<br>
            {{ form.director.label_tag }}<br>
            {{ form.director }}<br>
                    </div>
                    <div class="col-md-6">
            {{ form.no_of_children.label_tag }}<br>
            {{ form.no_of_children }}<br>
            {{ form.no_of_staff.label_tag }}<br>
            {{ form.no_of_staff }}<br>
            {{ form.established.label_tag }}<br>
            {{ form.established }}<br>
            {{ form.area.label_tag }}<br>
            {{ form.area }}<br>
            {{ form.image.label_tag }}<br>
            {{ form.image }}
            <br><br>
                    </div>
                </div>
            </div>
        <button type="submit" class="btn btn-success" style="margin-left: 32%">Update</button>
    </form>
    </section>
    </div>
{% endblock %}