{% extends 'ngo/base.html' %}
{% block content %}
    {% csrf_token %}
<div class="content-wrapper">
<section class="content">
{% for c in form %}
    <div class="content" style="margin-left: 30%">
        <h1 style="margin-left:5%">NGO Profile</h1><hr/>
        <div class="row">
            <div class="col-md-3"><h3><b>Full Name:</b></h3></div>
            <div class="col-md-6"><h3>{{ c.name }}</h3></div>
        </div>
        <div class="row">
            <div class="col-md-3"><h3><b>Email Id:</b></h3></div>
            <div class="col-md-6"><h3>{{ c.email }}</h3></div>
        </div>
        <div class="row">
            <div class="col-md-3"><h3><b>State:</b></h3></div>
            <div class="col-md-6"><h3>{{ c.state }}</h3></div>
        </div>
        <div class="row">
            <div class="col-md-3"><h3><b>City:</b></h3></div>
            <div class="col-md-6"><h3>{{ c.city }}</h3></div>
        </div>
        <div class="row">
            <div class="col-md-3"><h3><b>Zip Code:</b></h3></div>
            <div class="col-md-6"><h3>{{ c.zip_code }}</h3></div>
        </div>
        <div class="row">
            <div class="col-md-3"><h3><b>Full Address:</b></h3></div>
            <div class="col-md-6"><h3>Indore, Madhya Pradesh</h3></div>
        </div>
        <div class="row">
            <div class="col-md-3"><h3><b>Director Name:</b></h3></div>
            <div class="col-md-6"><h3>{{ c.director }}</h3></div>
        </div>
        <div class="row">
            <div class="col-md-3"><h3><b>Total Staff:</b></h3></div>
            <div class="col-md-6"><h3>{{ c.no_of_staff }}</h3></div>
        </div>
        <div class="row">
            <div class="col-md-3"><h3><b>Establishment:</b></h3></div>
            <div class="col-md-6"><h3>{{ c.established }}</h3></div>
        </div>
        <div class="row">
            <div class="col-md-3"><h3><b>S/F Area:</b></h3></div>
            <div class="col-md-6"><h3>{{ c.area }}</h3></div>
        </div>
        <hr/>
        <button class="btn btn-lg btn-primary">Edit</button>
    </div>
{% endfor %}
</section>
{#<section class="content">#}
{#	<h2><u>Safe4Child upcoming events</u></h2>#}
{#	<table class="table table-striped">#}
{#  <thead>#}
{#    <tr>#}
{#      <th scope="col">Index</th>#}
{#      <th scope="col">Event name</th>#}
{#      <th scope="col">Event type</th>#}
{#      <th scope="col">Event date</th>#}
{#    </tr>#}
{#  </thead>#}
{#  <tbody>#}
{##}
{#     <tr>#}
{#      <th scope="row">1</th>#}
{#      <td>Diwali</td>#}
{#      <td>Singing/Dancing</td>#}
{#      <td>12-oct-2018</td>#}
{#     </tr>#}
{#     <tr>#}
{#      <th scope="row">2</th>#}
{#      <td>Diwali</td>#}
{#      <td>Singing/Dancing</td>#}
{#      <td>12-oct-2018</td>#}
{#     </tr>#}
{#     <tr>#}
{#      <th scope="row">3</th>#}
{#      <td>Diwali</td>#}
{#      <td>Singing/Dancing</td>#}
{#      <td>12-oct-2018</td>#}
{#     </tr>#}
{#     <tr>#}
{#      <th scope="row">4</th>#}
{#      <td>Diwali</td>#}
{#      <td>Singing/Dancing</td>#}
{#      <td>12-oct-2018</td>#}
{#     </tr>#}
{#     <tr>#}
{#      <th scope="row">5</th>#}
{#      <td>Diwali</td>#}
{#      <td>Singing/Dancing</td>#}
{#      <td>12-oct-2018</td>#}
{#     </tr>#}
{##}
{#  </tbody>#}
{#</table>#}
{#<button class="btn btn-success">Load more</button>#}
{#</section>#}
{#<section class="content">#}
{#	<h2><u>Safe4Child Children list</u></h2>#}
{#	<table class="table table-striped">#}
{#  <thead>#}
{#    <tr>#}
{#      <th scope="col">Index</th>#}
{#      <th scope="col">Code</th>#}
{#      <th scope="col">Image</th>#}
{#      <th scope="col">Name</th>#}
{#      <th scope="col">Age</th>#}
{#    </tr>#}
{#  </thead>#}
{#  <tbody>#}
{#        #}
{#     <tr>#}
{#      <th scope="row">1</th>#}
{#      <td>ABC</td>#}
{#      <td><img src="https://cdn.pixabay.com/photo/2016/11/29/20/22/child-1871104_960_720.jpg" height="20" width="20"></td>#}
{#      <td>Anu</td>#}
{#      <td>11</td>#}
{#     </tr>#}
{#     <tr>#}
{#      <th scope="row">2</th>#}
{#      <td>ABC</td>#}
{#      <td><img src="https://cdn.pixabay.com/photo/2016/11/29/20/22/child-1871104_960_720.jpg" height="20" width="20"></td>#}
{#      <td>Pooja</td>#}
{#      <td>11</td>#}
{#     </tr>#}
{#     <tr>#}
{#      <th scope="row">3</th>#}
{#      <td>ABC</td>#}
{#      <td><img src="https://cdn.pixabay.com/photo/2016/11/29/20/22/child-1871104_960_720.jpg" height="20" width="20"></td>#}
{#      <td>Ruhi</td>#}
{#      <td>11</td>#}
{#     </tr>#}
{#     <tr>#}
{#      <th scope="row">4</th>#}
{#      <td>ABC</td>#}
{#      <td><img src="https://cdn.pixabay.com/photo/2016/11/29/20/22/child-1871104_960_720.jpg" height="20" width="20"></td>#}
{#      <td>shreya</td>#}
{#      <td>11</td>#}
{#     </tr>#}
{#     <tr>#}
{#      <th scope="row">5</th>#}
{#      <td>ABC</td>#}
{#      <td><img src="https://cdn.pixabay.com/photo/2016/11/29/20/22/child-1871104_960_720.jpg" height="20" width="20"></td>#}
{#      <td>Chhaya</td>#}
{#      <td>11</td>#}
{#     </tr>#}
{##}
{#  </tbody>#}
{#</table>#}
{#<button class="btn btn-success">Load more</button>#}
{#</section>#}

</div>
{% endblock %}
