{% extends 'ngo/base.html' %}
{% block content %}
    <div class="content-wrapper">
    <section class="content">
        <h2 style="margin-left: 30%">Report detail Page</h2><hr/>

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h4><b>Child Name: </b>{{ form.child_name }}</h4>
                    <h4><b>Child code: </b>{{ form.id }}</h4>
                    <h4><b>Donor ID: </b>{{ form.donor_id }}</h4>
                    <h4><b>Donation Month: </b>{{ form.donation_month }}</h4>
                    <h4><b>Date : </b>{{ form.date }}</h4>
                    <h4><b>Month Paid: </b>{{ form.paid }}</h4>
                    <h4><b>Paid: </b>{{ form.paid }}</h4>
                    <h4><b>Sent By: </b>Shankar</h4>
                </div>
            </div>
        </div>

    </section>
    </div>
{% endblock %}