{% extends 'ngo/base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="content-wrapper" xmlns="http://www.w3.org/1999/html">
    <section class="content">
    <h2 style="margin-left: 34%">All Transactions</h2><hr/>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Donor Name</th>
      <th scope="col">Donor Code</th>
      <th scope="col">Child Code</th>
      <th scope="col">Sent By</th>
      <th scope="col">Amount</th>
      <th scope="col">Date</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>

     <tr>
      <th scope="row">01</th>
      <td>Anurag</td>
      <td>D01</td>
      <td>MVB</td>
      <td>See4Children</td>
      <td>5000/-</td>
      <td>08-jan-2018</td>
      <td><button class="btn btn-primary">View Details</button></td>
     </tr>
  </tbody>
</table><hr/>
        <section class="content" style="margin-left: 20%">
            <h3>Filter by date</h3>
        <input type="text" name="daterange" value="01/01/2017 - 01/01/2018" /> <button type="submit">Search</button>
        <script type="text/javascript">
            $(function() {
                $('input[name="daterange"]').daterangepicker(
                    {
                        local: {
                            format: 'DD-MM-YYYY'
                        },
                        startDate: '01-01-2017',
                        endDate: '01-01-2018'
                    },
                    function (start, end, label) {
                        alert("A new date chosen: " + start.format('DD-MM-YYYY') + 'to' + end.format('DD-MM-YYYY'));
                    }
                );
            });
        </script>
</section>


    </section>
    </div>
{% endblock %}