{% extends 'ngo/base.html' %}
{% block content %}
    <div class="content-wrapper" xmlns="http://www.w3.org/1999/html">
    <section class="content">
    <hr/>
    <a href="/events_add/"><button class="btn btn-primary" style="margin-left: 300px;">Add Events</button></a><hr/>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Index</th>
      <th scope="col">Event Name</th>
      <th scope="col">Event Type</th>
      <th scope="col">Event Date</th>
      <th scope="col">Activity</th>
    </tr>
  </thead>
  <tbody>
        {% for event in event_list %}
     <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ event.name }}</td>
      <td>{{ event.type }}</td>
      <td>{{ event.date }}</td>
         <td><a href="/event_details/{{ event.id }}"><button class="btn btn-primary"> View Details  </button></a> <button class="btn btn-danger">Delete</button></td>
     </tr>
        {% endfor %}
  </tbody>
</table>
    </section>
    </div>
{% endblock %}