{% extends 'messanger/base.html' %}
{% load staticfiles i18n %}

{% block head %}
  <link href="{% static 'css/messages.css' %}" rel="stylesheet">
  <script src="{% static 'js/messages.js' %}"></script>
{% endblock head %}

{% block content %}
  <div class="page-header">
    <h1>{% block page_header %}{% endblock %}</h1>
  </div>

    <div id='chat-container'>
      {% block container %}
      {% endblock container %}
    </div>
    <script src="{% static 'js/box-reziser.js' %}"></script>

{% endblock content %}
